# about manuscript
*/*.aux
*/*.dbj
*/*.bbl
*/*.bcf
*/*.blg
*/*.idx
*/*.ind
*/*.ilg
*/*.log
*/*.toc
*/*.xml
*/*.zip
*/*.out
*/*.swp
*/*.pdf
*/*.gz
*/*.fls
*/*.fdb*
!figures/*.pdf
# *.tex

# code
code/*/*
!code/*/simu100.R

# Rnw
*/Rnw/cache

.vscode